---
import type { ContentAlingComponent } from '@/types/home-develop'

interface Props{
    contentAling:ContentAlingComponent
}
const {contentAling} = Astro.props

---
<section class="w-full bg-gray-100 py-16">
    <div class="max-w-7xl m-auto w-full">
        <div class="grid grid-cols-2 w-full">
            <div class="col-span-1">
                <h2 class="text-5xl text-gray-800 font-semibold">{contentAling.title}</h2>
                <p class="text-lg mt-5">{contentAling.description}</p>
            </div>
            <div class="col-span-1">
                <img class="rounded-md" src={contentAling.image.url} alt={contentAling.image.alt}>
            </div>
        </div>
    </div>
</section> 